/dist
/build
node_modules

.DS_Store

# Coverage
/packages/epanet-js/coverage

# Networks
/packages/epanet-engine/tests/networks


# Typegen
/type-gen/epanet2_2.d.ts

/packages/epanet-engine/dist/*
/packages/epanet-engine/build/*
/packages/epanet-js/dist/*